/* global type */
@font-face {
    font-family: 'CircularStd-Bold';
    src: url('/assets/fonts/CircularStd-Bold.otf') format('otf');
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('/assets/fonts/CircularStd-Book.otf') format('otf');
}

body {
    margin: 0;
    overflow-x: hidden;
}

main {
    position: relative;
    min-height: 55vh;
}

/* font sizes */
@media screen and (max-width: 640px) {
    body{font-size: 50%;}
    h2 {font-size: 7em !important;}
}

h1 {
    font-family: 'CircularStd-Book', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 15em;
}

h3 {
    font-family: 'CircularStd-Book', sans-serif;
    font-size: 3.5em;
}

p {
    font-family: 'CircularStd-Book', sans-serif;
    font-size: 2em;
    line-height: 1.5;
}

a {
    color: black;
}

li {
    font-family: 'CircularStd-Book', sans-serif;
    font-size: 2em;
    list-style: none;
    line-height: 1.15;
    text-align: right;
}

.sub {
    color: #cfcfcf;
    font-size: 0.75em;
}

/* lines & boxes */
.vl {
    border: 3px solid #000000;
    transform: rotate(-90deg);
    vertical-align: center;
}


hr {
    border-top: 5px solid black;
}

.header {
    border-left: 5px solid black;
    padding-left: 1em;
    margin-bottom: 2em;
}

.arrow img {
    width: 20%;
    height: 20%;
}

/* margins */
.text-art {
    text-align: center;
    vertical-align: center;
}

.landing {
    overflow-x: hidden;
}

section[class^="row"] {
    margin-top: 6em;
    padding: 2em;
}

.about, .footer, .footnote {
    margin-top: 0 !important;
}

.about-text {
    margin-bottom: 2em;
}

.intro, .hello {
    height: 100%;
    align-items: center;
    padding-left: 2em;
}

.intro {
    padding-top: 6em;
    padding-bottom: 4em;
}

.about-links {
    padding-bottom: 6em;
}

.projects {
    vertical-align: top;
    overflow: hidden;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 6em;
}

.container {
    max-width: 100%;
}

nav {
    justify-content: space-between;
    padding: 2em;
}

.about {
    justify-content: flex-end;
}

.bento img {
    width: 100%;
    vertical-align: center;;
}

.intro p {
    text-align: center;
}

.projects img {
    width: 100%;
    border: 5px solid black;
    box-shadow: 5px 10px black;
    margin-bottom: 2em;
}


.container .footer-line {
    margin: 0;
    padding: 0;
}

.footnote {
    padding: 1em 2em 1em 2em;
    justify-content: space-between;
}

.city {
    text-align: right;
}

/* snazzy effects */
.text-art {
    animation: glitch 1s linear infinite;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}

    div:before,
    div:after{
    content: attr(title);
    position: absolute;
    left: 0;
    }

    div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}

div:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}